<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.forty"
        versionCode = "1" 
        version     = "1.0.0" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>Forty</name>
 
    <description>
        Test your knowledge in Bulgarian literature. 
    </description>
 
    <author href="http://www.bistrachilikova.byethost32.com" email="bistra.chilikova@abv.bg">
        Name Of The Author
    </author>


     <icon src="icon.png" />       
        
        
<splash src="splash.png" />


<splash gap:platform="android" gap:qualifier="land-hdpi" src="screen-hdpi-landscape.png" />
<splash gap:platform="android" gap:qualifier="land-ldpi" src="screen-ldpi-landscape.png" />
<splash gap:platform="android" gap:qualifier="land-mdpi" src="screen-mdpi-landscape.png" />
<splash gap:platform="android" gap:qualifier="land-xhdpi" src="screen-xhdpi-landscape.png" />
<splash gap:platform="android" gap:qualifier="port-hdpi" src="screen-hdpi-portrait.png" />
<splash gap:platform="android" gap:qualifier="port-ldpi" src="screen-ldpi-portrait.png" />
<splash gap:platform="android" gap:qualifier="port-mdpi" src="screen-mdpi-portrait.png" />
<splash gap:platform="android" gap:qualifier="port-xhdpi" src="screen-xhdpi-portrait.png" />


 
</widget>
